
:root {
    --bg: #353535;
    --components: #2A2A2A;
    --text: rgb(255, 255, 255);
    --gradient: linear-gradient(to right, #FE0000, #0381F5);
    --componentRadius: 0.5rem;
    --vysledkyVyhledavani: #4A4A4A;
    --line: #ADADAD;
    --workout: #404040;
}

body {
    margin: 0;
    background-color: var(--bg);
}
.gradText {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 5em);
    justify-content: space-between;
    margin: 2rem 0.5rem 0.1rem 0.5rem;
}

/*moje plány*/
.plan_wrapper {
    display: grid;
    gap: 1em;
    overflow-y: auto;
}
.plan__border {
    background: var(--gradient);
    padding: 0.3rem;
    border-radius: calc(var(--componentRadius) + 0.3rem);
}
.plan {
    display: flex;
    position: relative;
    gap: 1rem;
    background-color: var(--components);
    color: var(--text);
    border-radius: var(--componentRadius);
}

.plan_img {width: 40px;}

/*bar*/
.bar__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #FE0000, #0381F5);
    padding: 1em;
    border-radius: 0.5em;
}

.bar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar__img {width: 40px;}


/*novy plan*/


.search__filter {
    display: flex;
    justify-content: space-around;
    background-color: var(--components);
    border-radius: var(--componentRadius);
    margin-bottom: 0.5em;
}

.vysledkyVyhledavani {
    
    overflow-y: auto;
    padding: 1.5em;
    border-radius: var(--componentRadius);
    background-color: var(--vysledkyVyhledavani);
}
.vysledkyVyhledavani__item {
    font-weight: 500;
    padding-bottom: 0.5em;
    margin-right: 4em;
    border-bottom: 1px solid var(--line);
}
.workout {
    padding: 1em;
    border-radius: var(--componentRadius);
    background-color: var(--workout);
    margin-bottom: 2rem;
}
.cvik {
    display: flex;
    justify-content: space-between;
    background-color: var(--components);
    border-radius: var(--componentRadius);
    padding: 0 1em;
    margin-bottom: 0.5em;
}
.cvik__data {
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-direction: row;
    gap: 2em;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 0.3em 1em;
    background: var(--gradient);
    color: var(--text);
    border-radius: var(--componentRadius);
}


/*moje data*/

.data__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}
.data__item {
    position: relative;
    background-color: var(--components);
    padding: 1rem 2rem 1rem 1rem;
    border-radius: var(--componentRadius);
}
.data__item p {margin: 0;}
.data__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    background-image: url(./icons/upravit.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}

.spendTime {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    background-color: var(--components);
    border-radius: var(--componentRadius);
    margin-top: 1rem;
}