
:root {
    --bg: #353535;
    --components: #2A2A2A;
    --text: rgb(255, 255, 255);
    --gradient: linear-gradient(to right, #FE0000, #0381F5);
    --barGradient: linear-gradient(to left, #FE0000, #0381F5);
    --componentRadius: 0.5rem;
    --vysledkyVyhledavani: #4A4A4A;
    --line: #ADADAD;
    --workout: #404040;
}

body {
    margin: 0;
    background-color: var(--bg);
}
.gradText {
    background: var(--barGradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

img {width: 100%;}

.pageWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 6.3rem);
    justify-content: space-between;
    margin: 2rem 1rem 0.1rem 1rem;
}

/*moje plány*/
.plan_wrapper {
    display: grid;
    gap: 1em;
    overflow-y: auto;
}
.border {
    background: var(--gradient);
    padding: 0.2rem;
    border-radius: calc(var(--componentRadius) + 0.2rem);
    height: fit-content;
}

.plan {
    display: flex;
    position: relative;
    gap: 1rem;
    background-color: var(--components);
    color: var(--text);
    border-radius: var(--componentRadius);
}

.plan_img {width: 40px;}

/*bar*/
.bar__wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background: var(--barGradient);
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 2rem;
}

.bar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar__img {width: 40px;}


/*novy plan*/


.search__filter {
    display: flex;
    justify-content: space-around;
    background-color: var(--components);
    border-radius: var(--componentRadius);
    margin-bottom: 0.5em;
}
.filter__item:focus {
    background-image: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.filter__item--1:focus {
    background-image: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
}
.vysledkyVyhledavani {
    overflow-y: auto;
    padding: 1em;
    border-radius: var(--componentRadius);
    background-color: var(--vysledkyVyhledavani);
    margin-bottom: 1rem;
    min-height: 3em;
    max-height: 7em;
}
.vysledkyVyhledavani__item {
    font-weight: 500;
    padding-bottom: 0.5em;
    margin-right: 4em;
    border-bottom: 1px solid var(--line);
}
.workout {
    padding: 1em;
    border-radius: var(--componentRadius);
    background-color: var(--workout);
}
.workout__wrapper {overflow-y: auto; max-height: 65vh;}
.workout__wrapper--novy {max-height: 15vh;}
.cvik {
    display: flex;
    justify-content: space-between;
    background-color: var(--components);
    border-radius: var(--componentRadius);
    padding: 0 1em;
    margin-bottom: 0.5em;
}
.cvik__data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-direction: row;
    gap: 2em;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 0.3em 1em;
    background: var(--gradient);
    color: var(--text);
    border-radius: var(--componentRadius);
    margin-top: 1.5rem;
}

.workout__container::before {
    content: "";
    display: inline-block;
    background-image: url(./icons/cinka.svg);
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: contain;
}

.workout_wrapper {overflow-y: auto;}
textarea {resize: none;}

/*moje data*/

.data__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
    margin-bottom: 1rem;
}
.userName {
    display: inline-block;
    height: 1em;
    background-color: var(--bg);
    border: none;
    overflow: hidden;
    color: var(--text);
    width: -webkit-fill-available;
}
textarea:focus {outline: none;}
.userName--workoutN {
    width: auto;
    margin-bottom: 0.5rem;
    background-color: transparent;
    min-width: 3em;
    max-width: 6em;
}
.data__item {
    position: relative;
    background-color: var(--components);
    padding: 1rem 2rem 1rem 1rem;
    border-radius: var(--componentRadius);
}
.data__item p {margin: 0;}
.data__item::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
    background-image: url(./icons/upravit.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
}
.vyhledavani {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--components);
    height: 2em;
    padding: 0 1rem;
    border-radius: 1em;
}
.vyhledavani__img {width: 1rem;}
.border--search {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    margin-bottom: 0.5rem;
    border-radius: 2em;
    width: 80%;
}
.vyhledavani__input {
    background-color: transparent;
    color: var(--text);
    border: none;
    width: -webkit-fill-available;
    border: none;
    outline: none;
}
.vyhledavani__input:focus {
    border: none;
    outline: none;
}

.spendTime {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    background-color: var(--components);
    border-radius: var(--componentRadius);
}

/*spusteny plan*/

.border--plan {
    max-width: 50rem;
    padding: 0.2rem;
    background: var(--gradient);
    border-radius: calc(var(--componentRadius) + 0.2rem);
    margin-bottom: 2rem;
}
.plan--aktiv {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.plan__time::after {
    content: "";
    display: inline-block;
    background-image: url(./icons/time.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.6em;
    height: 0.6em;
    margin-bottom: -0.1em;
    margin-left: 0.2em;
}
.btnsContainer {
    display: flex;
    gap: 1.5rem;
}
.btn--plan {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    text-align: center;
}
.btn--end {
    flex-grow: 2;
    background: none;
    background-color: var(--components);
}
.btn--pauza {
    flex-grow: 1;
}
.btnsContainer--plan {
    display: flex;
    flex-direction: row-reverse;
}
.plan__inf {width: 1.5em;}
.cvik--aktiv {position: relative; margin-right: 3em;}
.cvik--done::after {
    content: "";
    display: inline-block;
    background-image: url(./icons/done.svg);
    position: absolute;
    right: -3em;
    top: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
}
.cvik--undone::after {
    background-image: url(./icons/undone.svg);
}
.btn:hover {
    background: var(--barGradient);
    transition: 0.25s;
    transform: scale(1.03);
}

@media (min-width: 600px) {
    .pageWrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
    .bar, .btnsContainer {
        max-width: 500px;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
        margin-bottom: 1rem;
    }

    .plan--aktiv, .border--plan {
        max-width: 20em;
    }

    .spendTime {
        justify-content: flex-start;
        gap: 1em;
        background: var(--gradient);
        width: 15em;
        border-radius: 2em;
    }
    .spendTime p {
        font-size: 1.1rem;
        margin: 0.4em;
    }
    .border--time {
        background: var(--components);
        padding: 0;
        border-radius: 2em;
        width: 80%;
        position: relative;
        transform: translate(-50%, 0);
        left: 50%;
        margin-top: 2em;
    }
    .workout__wrapper {max-height: 45dvh;}
    .workout__wrapper--novy {max-height: 15dvh;}
    .vyhledavani {
        gap: 0.5em;
    }
    /*.vyhledavani__img {width: 2rem;}*/
    

}

@media (min-width: 900px) {
    h1 {
        margin-bottom: 3rem;
    }
    .pageWrapper {
        max-width: 800px;
        height: calc(100dvh - 7.3rem);
    }
    
    .plan_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .data__wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .wrapper {
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
        height: auto;
    }

    .search__filter {
        flex-direction: column;
        padding: 1em;
        width: 7em;
    }
    .search__wrapper {
        display: flex;
        gap: 0.5em;
    }
    .vysledkyVyhledavani {
        max-height: 15em;
        width: 12em;
    }
    .workout {
        min-width: 25em;
    }
    
    small {
        font-size: 1rem;
    }
    .workout__wrapper {max-height: 65dvh;}
    .workout__wrapper--novy {max-height: 28dvh;}
    .border--search {
        transform: translate(0);
        left: inherit;
        width: 126px;
    }
}